---
---

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap')

// variables
$main-color: #75C9C8

body 
    font-family: 'Montserrat', sans-serif
    transition: all .7s


a
    &, &:visited
        color: $main-color
    &:hover
        text-decoration: none
    &:visited:hover:not(.site-title)
        color: #111

h1
    font-size: 2rem

h2
    margin-top: 1rem
  
hr
    background-color: #ccc
    height: 1px
    border: 0

.post-header
    display: none

#awesome-resources-
    display: none


#scroll-up
    position: fixed
    bottom: 8%
    right: 6%
    opacity: 1
    width: 35px
    height: 35px
    z-index: 10
    cursor: pointer
    background-color: $main-color
    outline: none
    display: none
    border: none
    filter: drop-shadow(0 2px 3px rgba(0,0,0,0.2))
    border-radius: 50px

.footer-col-wrapper
    display: flex
    flex-direction: row

.footer-col
    float: none
    flex: 1

.site-header
    border-top: 0
    background-color: $main-color
    width: 100%
    .site-title
        font-weight: 500
        color: #ffffff
        &:hover
            text-decoration: none
    .page-link
        color: #ffffff

footer
    background-color: #f9f9f9
    .social-media-list
        li
            display: inline-block
            &:not(:last-child)
                margin-right: 15px
            .svg-icon
                transform: scale(1.5)
                fill: $main-color

.navWrapper
    width: 95%
    display: flex
    justify-content: space-between
    align-items: center
    #burgerMenu
        background-color: $main-color
        svg
            fill: #ffffff

.trigger
    display: flex
    justify-content: center
    align-items: center
    #githubIco
        font-size: 2rem
        &:hover
            color: #d6d6d6
    // toggle button style
    .themeControl
        display: flex
        justify-content: center
        align-items: center
        margin-left: 1.5em
        #moon, #sun
            color: #fdfdfd
            font-size: 1rem
        .yellow
            color: #fff44f !important
            transition: .5s
        .toggle
            position: relative
            display: inline-block
            width: 3em
            height: 1em
            margin: auto .8em
            input
                opacity: 0
                width: 0
                height: 0
                &:checked + .slider
                    background-color: $main-color
                    &:before
                        -webkit-transform: translateX(2em)
                        -ms-transform: translateX(2em)
                        transform: translateX(2em)
                &:focus + .slider
                    box-shadow: 0 0 .1em $main-color
            .slider
                position: absolute
                cursor: pointer
                top: 0
                left: 0
                right: 0
                bottom: 0
                background-color: #ccc
                -webkit-transition: .4s
                transition: .4s
                &:before
                    position: absolute
                    content: ""
                    height: 1em
                    width: 1em
                    left: .1em
                    background-color: white
                    -webkit-transition: .4s
                    transition: .4s
            .round
                border-radius: 2em
                &:before
                    border-radius: 50%

// rules when the burger menu is shown
@media screen and (max-width: 600px)
.site-nav
    background-color: #75c9c8de
    border: none