<header id="header" class="site-header" role="banner">

    <div class="wrapper nav-wrapper">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  
      <div class="nav-actions">
        <a class="page-link github-link" href="https://github.com/shahednasser/awesome-resources">
          <i class="fab fa-github"></i>
        </a>
        <div class="theme-control">
          <i class="fas fa-sun theme-toggler" tabindex="-1"></i>
        </div>
      </div>
    </div>
</header>